torch>=2.5.1
torchvision
transformers
deepspeed
accelerate
webdataset
diffusers
sentencepiece==0.2.0
protobuf==5.27.3
numpy<2
einops==0.8.0
huggingface-hub
supervision
cog
controlnet-aux
xformers
python-dotenv
peft